In [2]:
import pandas as pd
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
# train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/train.csv")
# test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/bigdata_analyst_cert/main/part2/ch4/test.csv")

## 예전꺼

In [15]:
train.shape, test.shape

((6818, 12), (1705, 11))

In [7]:
#---------------------------------
# 1) 데이터 크기 확인
# (표본 수(행), 변수 수(열) 확인 → 문제 규모 파악)
#---------------------------------
# train.shape, test.shape

# #---------------------------------
# # 2) 기본 구조 확인 (상위 5개 행)
# #---------------------------------
# train.sample(5)

#---------------------------------
# 3) 자료형/메모리/결측 개요 확인
#---------------------------------
# train.info()
# test.info()

#---------------------------------
# 4) 수치형 통계 요약
# (평균, 표준편차, 최대값, 최소값, 사분위수)
#---------------------------------
train.describe()
test.describe()

#---------------------------------
# 5) 범주형 통계 요약
# (총개수, 최빈값 등)
#---------------------------------
train.describe(include='O')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [9]:
train.describe(include='object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,6818,6818,6818,6818,4878,6818,6818
unique,1554,5,16,10,3,3,4
top,FDW26,Low Fat,Snack Foods,OUT046,Medium,Tier 3,Supermarket Type1
freq,9,4092,963,763,2228,2664,4474

In [8]:
test.describe(include='object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,1705,1705,1705,1705,1235,1705,1705
unique,1077,5,16,10,3,3,4
top,FDG33,Low Fat,Fruits and Vegetables,OUT013,Medium,Tier 3,Supermarket Type1
freq,4,997,272,207,565,686,1103

In [8]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,5656.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.872703,0.066121,140.419533,1997.885890,2190.941459
std,4.651034,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.785000,0.026914,93.610050,1987.000000,836.577700
50%,12.600000,0.053799,142.448300,1999.000000,1806.648300
75%,17.000000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

## 최근 거

In [9]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1162
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [11]:
train.isnull().sum().sum()

3102

In [12]:
test.isnull().sum()

Item_Identifier                0
Item_Weight                  301
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [13]:
test.isnull().sum().sum()

771

In [14]:
value = int(train['Item_Weight'].median())
train['Item_Weight'] = train['Item_Weight'].fillna(value)
train.isnull().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1940
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [15]:
m1=train['Outlet_Size'].mode()[0]
train['Outlet_Size'] = train['Outlet_Size'].fillna(m1)
train.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [16]:
value = int(test['Item_Weight'].median())
test['Item_Weight'] = test['Item_Weight'].fillna(value)
test.isnull().sum()

Item_Identifier                0
Item_Weight                    0
Item_Fat_Content               0
Item_Visibility                0
Item_Type                      0
Item_MRP                       0
Outlet_Identifier              0
Outlet_Establishment_Year      0
Outlet_Size                  470
Outlet_Location_Type           0
Outlet_Type                    0
dtype: int64

In [17]:
m1=test['Outlet_Size'].mode()[0]
test['Outlet_Size'] = test['Outlet_Size'].fillna(m1)
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [18]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,12.723967,0.066121,140.419533,1997.885890,2190.941459
std,4.248821,0.051383,62.067861,8.339795,1706.131256
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,9.300000,0.026914,93.610050,1987.000000,836.577700
50%,12.000000,0.053799,142.448300,1999.000000,1806.648300
75%,16.100000,0.095273,185.060150,2004.000000,3115.944000
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [19]:
test.describe()

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  1705.000000      1705.000000  1705.000000                1705.000000
mean     12.656284         0.066174   143.285107                1997.615836
std       4.197679         0.052465    63.063146                   8.497423
min       4.555000         0.000000    31.955800                1985.000000
25%       9.395000         0.027571    94.743600                1987.000000
50%      12.000000         0.054234   144.512800                1999.000000
75%      15.850000         0.092927   187.755600                2004.000000
max      21.350000         0.311090   266.888400                2009.000000

In [30]:
train[train['Item_Visibility']<=0]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
38,FDY52,6.365,Low Fat,0.0,Frozen Foods,59.7536,OUT017,2007,Medium,Tier 2,Supermarket Type1,980.0576
48,NCO53,16.200,Low Fat,0.0,Health and Hygiene,182.1608,OUT049,1999,Medium,Tier 1,Supermarket Type1,3123.9336
130,FDH48,13.500,Low Fat,0.0,Baking Goods,84.5540,OUT018,2009,Medium,Tier 3,Supermarket Type2,778.9860
141,DRF15,18.350,LF,0.0,Dairy,151.9340,OUT013,1987,High,Tier 3,Supermarket Type1,306.2680
149,FDM58,16.850,Regular,0.0,Snack Foods,110.0544,OUT049,1999,Medium,Tier 1,Supermarket Type1,2572.6512
...,...,...,...,...,...,...,...,...,...,...,...,...
6735,NCQ05,11.395,LF,0.0,Health and Hygiene,151.6708,OUT013,1987,High,Tier 3,Supermarket Type1,3460.8284
6747,NCE42,21.100,low fat,0.0,Household,233.2958,OUT018,2009,Medium,Tier 3,Supermarket Type2,2103.2622
6761,FDU43,19.350,Regular,0.0,Fruits and Vegetables,238.6564,OUT013,1987,High,Tier 3,Supermarket Type1,3575.3460
6790,NCN18,8.895,Low Fat,0.0,Household,111.9544,OUT035,2004,Small,Tier 2,Supermarket Type1,1565.9616
6794,NCW54,7.500,Low Fat,0.0,Household,59.2588,OUT049,1999,Medium,Tier 1,Supermarket Type1,916.1408

In [31]:
test[test['Item_Visibility']<=0]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
12,FDW02,4.805,Regular,0.0,Dairy,123.9704,OUT045,2002,Medium,Tier 2,Supermarket Type1
24,FDX25,16.700,Low Fat,0.0,Canned,181.2292,OUT018,2009,Medium,Tier 3,Supermarket Type2
39,NCA30,19.000,Low Fat,0.0,Household,189.1872,OUT046,1997,Small,Tier 1,Supermarket Type1
61,FDK52,18.250,Low Fat,0.0,Frozen Foods,224.1062,OUT018,2009,Medium,Tier 3,Supermarket Type2
65,FDQ15,20.350,Regular,0.0,Meat,81.6276,OUT046,1997,Small,Tier 1,Supermarket Type1
...,...,...,...,...,...,...,...,...,...,...,...
1609,DRZ24,12.000,Low Fat,0.0,Soft Drinks,121.0440,OUT027,1985,Medium,Tier 3,Supermarket Type3
1662,FDN01,8.895,Low Fat,0.0,Breakfast,178.4370,OUT046,1997,Small,Tier 1,Supermarket Type1
1678,FDA10,20.350,Low Fat,0.0,Snack Foods,120.9072,OUT049,1999,Medium,Tier 1,Supermarket Type1
1681,DRF60,10.800,Low Fat,0.0,Soft Drinks,238.1564,OUT018,2009,Medium,Tier 3,Supermarket Type2
1690,DRO47,10.195,Low Fat,0.0,Hard Drinks,114.0860,OUT046,1997,Small,Tier 1,Supermarket Type1

In [33]:
train = train[train['Item_Visibility']>0]

In [34]:
train[train['Item_Visibility']<=0]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type, Item_Outlet_Sales]
Index: []

In [36]:
test = test[test['Item_Visibility']>0]

In [37]:
test[test['Item_Visibility']<=0]

Empty DataFrame
Columns: [Item_Identifier, Item_Weight, Item_Fat_Content, Item_Visibility, Item_Type, Item_MRP, Outlet_Identifier, Outlet_Establishment_Year, Outlet_Size, Outlet_Location_Type, Outlet_Type]
Index: []

## OLS

In [46]:
import numpy as np

# 1. 결측치 확인
print(train.isnull().sum())

# 2. 상수 컬럼 확인
print([col for col in train.columns if train[col].nunique() <= 1])

# 3. 상관관계 과도한 컬럼 확인
train.corr(numeric_only=True)


# 4. Inf / NaN 존재 여부
np.isfinite(train.select_dtypes(include=[np.number])).all().all()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64
[]

True

In [48]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6414 entries, 0 to 6817
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            6414 non-null   object
 1   Item_Weight                6414 non-null   float64
 2   Item_Fat_Content           6414 non-null   object
 3   Item_Visibility            6414 non-null   float64
 4   Item_Type                  6414 non-null   object
 5   Item_MRP                   6414 non-null   float64
 6   Outlet_Identifier          6414 non-null   object
 7   Outlet_Establishment_Year  6414 non-null   int64
 8   Outlet_Size                6414 non-null   object
 9   Outlet_Location_Type       6414 non-null   object
 10  Outlet_Type                6414 non-null   object
 11  Item_Outlet_Sales          6414 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 651.4+ KB

In [50]:
#컬럼제거
train.drop('Item_Identifier',axis=1,inplace=True)
test.drop('Item_Identifier',axis=1,inplace=True)

In [51]:
#----------------------------------------------
# ★ OLS - 선형회귀에서만 사용할 것(분류는 x)
#----------------------------------------------
from statsmodels.formula.api import ols 

# 항목컬럼명 저장
y_col = 'Item_Outlet_Sales'

# y를 뺀 x값 후보들(수치형,범주형 다 포함됨)
X_cols = [c for c in train.columns if c != y_col]
X_cols

# formula 생성
formula = f"{y_col} ~ " + " + ".join(X_cols) # ols안에 들어갈 문자열 패턴
formula

# OLS모델 적용
model = ols(formula,data=train).fit()

# 확인
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared:                       0.569
Model:                            OLS   Adj. R-squared:                  0.567
Method:                 Least Squares   F-statistic:                     271.4
Date:                Mon, 10 Nov 2025   Prob (F-statistic):               0.00
Time:                        02:34:59   Log-Likelihood:                -54126.
No. Observations:                6414   AIC:                         1.083e+05
Df Residuals:                    6382   BIC:                         1.085e+05
Df Model:                          31
Covariance Type:            nonrobust
======================================================================================================
                                         coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------------
Intercept                              4.5161      0.402     11.239      0.000       3.728       5.304
Item_Fat_Content[T.Low Fat]            6.4886     75.638      0.086      0.932    -141.787     154.764
Item_Fat_Content[T.Regular]           54.9942     78.681      0.699      0.485     -99.246     209.235
Item_Fat_Content[T.low fat]          119.8224    146.946      0.815      0.415    -168.241     407.886
Item_Fat_Content[T.reg]              -91.9858    138.569     -0.664      0.507    -363.628     179.657
Item_Type[T.Breads]                  -63.0629     98.614     -0.639      0.523    -256.380     130.254
Item_Type[T.Breakfast]                -6.0859    128.971     -0.047      0.962    -258.912     246.740
Item_Type[T.Canned]                  -35.7427     71.708     -0.498      0.618    -176.314     104.828
Item_Type[T.Dairy]                  -109.0535     70.681     -1.543      0.123    -247.612      29.506
Item_Type[T.Frozen Foods]            -68.2661     67.155     -1.017      0.309    -199.913      63.381
Item_Type[T.Fruits and Vegetables]   -28.0090     63.420     -0.442      0.659    -152.334      96.316
Item_Type[T.Hard Drinks]             -77.0867    103.566     -0.744      0.457    -280.110     125.937
Item_Type[T.Health and Hygiene]     -114.2103     77.858     -1.467      0.142    -266.839      38.418
Item_Type[T.Household]               -65.3857     68.557     -0.954      0.340    -199.780      69.009
Item_Type[T.Meat]                    -66.5885     80.155     -0.831      0.406    -223.719      90.542
Item_Type[T.Others]                  -97.8969    112.679     -0.869      0.385    -318.785     122.991
Item_Type[T.Seafood]                  60.6035    173.123      0.350      0.726    -278.776     399.983
Item_Type[T.Snack Foods]             -78.5965     63.296     -1.242      0.214    -202.677      45.484
Item_Type[T.Soft Drinks]             -83.5618     81.673     -1.023      0.306    -243.669      76.546
Item_Type[T.Starchy Foods]          -154.6116    120.946     -1.278      0.201    -391.706      82.483
Outlet_Identifier[T.OUT013]          396.4367     27.718     14.303      0.000     342.100     450.773
Outlet_Identifier[T.OUT017]          154.2017     33.879      4.552      0.000      87.787     220.616
Outlet_Identifier[T.OUT018]          815.4916     35.083     23.244      0.000     746.717     884.267
Outlet_Identifier[T.OUT019]         -473.5920     37.195    -12.733      0.000    -546.508    -400.676
Outlet_Identifier[T.OUT027]         1691.0347     34.856     48.515      0.000    1622.706    1759.364
Outlet_Identifier[T.OUT035]          118.3649     31.160      3.799      0.000      57.281     179.449
Outlet_Identifier[T.OUT045]          -24.9240     34.036     -0.732      0.464     -91.645      41.797
Outlet_Identifier[T.OUT046]          207.1300     33.172      6.244      0.000     142.102     272.158
Outlet_Identifier[T.OUT049]          402.2173     30.227     13.306      0.000     342.961     461.473
Outlet_Size[T.Medium]               -243.8235     23.729    -10.275      0.000    -290.341    -197.306
Outlet_Size[T.Small]                -148.0971     15.844     -9.347      0.000    -179.156    -117.038
Outlet_Location_Type[T.Tier 2]       247.6427     19.915     12.435      0.000     208.603     286.682
Outlet_Location_Type[T.Tier 3]      -378.8819     29.315    -12.925      0.000    -436.349    -321.415
Outlet_Type[T.Supermarket Type1]    1253.4266     30.488     41.112      0.000    1193.659    1313.194
Outlet_Type[T.Supermarket Type2]     815.4916     35.083     23.244      0.000     746.717     884.267
Outlet_Type[T.Supermarket Type3]    1691.0347     34.856     48.515      0.000    1622.706    1759.364
Item_Weight                            0.8099      3.334      0.243      0.808      -5.726       7.346
Item_Visibility                     -199.7048    294.690     -0.678      0.498    -777.396     377.986
Item_MRP                              15.5961      0.227     68.579      0.000      15.150      16.042
Outlet_Establishment_Year             -0.5946      0.055    -10.891      0.000      -0.702      -0.488
==============================================================================
Omnibus:                      748.879   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1835.951
Skew:                           0.678   Prob(JB):                         0.00
Kurtosis:                       5.243   Cond. No.                     2.66e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.65e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.